@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --Obsidian: 8 16 12;
    --Licorice: 22 17 16;
    --Charcoal: 33 36 42;
    --Alien: 26 34 40;
    --Neutral: 35 35 37;
    --Smokie: 35 38 42;
    --Deep: 16 25 35;
    --Lavender: 244 241 248;
    --ColdSteel: 248 247 244;
    --Ivory: 255 255 240;
    --Marble: 242 248 252;
    --Pearl: 252 252 247;
  }

  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
  }

  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }

  body {
    font-size: 1.6rem;
  }
}
